.advanced-search-label {
    width: 15%;
    min-width: 210px;
}

.advanced-search-input {
    flex-basis: 100%;
    justify-content: flex-start;

    gap: 8px;
}

.advanced-search-text-input {
    width: 40%;
    min-width: var(--ninety-pc-mobile-width);
}

.advanced-search-checkboxes {   
    height: 20px;
    width: 20px;

    &:checked {
        accent-color: #46cc46ef;
    }

    &:checked:hover {
        accent-color: #db0e0eef;
    }
}