.advanced-search-label {
    width: 15%;
    min-width: 210px;
}

.advanced-search-input {
    flex-basis: 100%;
    justify-content: flex-start;

    gap: 8px;
}

.advanced-search-text-input {
    width: 40%;
    min-width: var(--ninety-pc-mobile-width);
}

.level-checkboxes:hover input ~ .c{
    background-color: #f3de21d7;
}