.results-cards {
    width: 15rem;
    margin: 5px;     
}

.grid {
    grid-template-columns: repeat(3 1fr);
    /* grid-template-rows: auto auto; */
}

.display-cards {
    align-self: flex-start;
    padding: 10px;

    
}