.capitalise {
    text-transform: capitalize;
}

.card-showcase {
    max-width: 20rem;
    margin: 10px;
}

#card-details {
    align-self: flex-start;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid white; */

    grid-template-columns: 1/2fr 1/2fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

#cardname {
    font-size: 1.5rem;
    padding-top: 0px;
    margin-top: 0px;
}

#card-printing-details {
    align-self: flex-start;
    margin: 10px;
    margin-top: 0px;
    padding: 1px 15px;
    padding-top: 0px;
    /* border: 1px solid white; */
    background-color: var(--steel-blue);
}

p {
    padding: 5px;
    /* border-bottom: 1px solid #ddddddda; */
}

.detail-heading {
    font-weight: bold;
    /* color: var(--steel-blue); */
    background-color: var(--purple);
    padding: 5px;
}