.capitalise {
    text-transform: capitalize;
}

.card-showcase {
    max-width: 20rem;
    margin: 10px;
}

#card-details {
    align-self: flex-start;
    padding: 10px;

    .grid {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

#cardname {
    font-size: 1.5rem;
}

#card-printing-details {
    align-self: flex-start;
    background-color: var(--steel-blue);
    margin-top: 30px;
    padding: 20px;
}

p {
    padding: 5px;
}

.detail-heading {
    font-weight: bold;
    /* color: var(--steel-blue); */
    background-color: var(--purple);
    padding: 5px;
}

.detail-text {
    border-bottom: 1px solid #ddddddda;
    border-right: 1px solid #ddddddda;
    border-top: 1px solid #ddddddda;
}