:root {
    --blue: #2754b8;
    --navy-blue: #0A1F44;
    --steel-blue: #2D3B55;
    --white: #ffffffde;
    --orange: #FF6B35;
    --red: #E63946;
    --yellow: #FFD23F;
    --faint-gold: #d7df72f1;
    --gold: #fdfa2b;
    --purple: #7B2FF7;
    --silver: #D9D9D9;
    --gunmetal: #909096;

    --heading-font: 'Squada One', monospace;
    --regular-font: 'Roboto', sans-serif;

    --mobile-width: 480px;
    --ninety-pc-mobile-width: 432px;

    background: var(--navy-blue);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

    .flex-columns {
        flex-direction: column;
    }

    .flex-rows {
        flex-direction: row;
    }
}

.wrapper-container {
    width: 50%;
    min-width: var(--ninety-pc-mobile-width);
    margin: auto;
    align-self: center;
}

.grid {
    display: grid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--faint-gold);
}

h2 {
    font-size: 2rem;
}

h6 {
    font-size: 1rem;
    margin: 0.2rem;
}

span, p, label, li {
    font-family: var(--regular-font);
    font-size: 0.9rem;
    color: var(--white);
}

button {
    border: none;
    padding: 8px 100px;
    background-color: var(--silver);

    text-decoration: none;

    cursor: pointer;
}