:root {
    --blue-background: #2754b8;
    --heading-font: 'Squada One', monospace;
    --regular-font: 'Roboto', sans-serif;

    --mobile-width: 480px;
    --ninety-pc-mobile-width: 432px;

    background: var(--blue-background);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

    .flex-columns {
        flex-direction: column;
    }

    .flex-rows {
        flex-direction: row;
    }
}

.wrapper-container {
    width: 50%;
    min-width: var(--ninety-pc-mobile-width);
    margin: auto;
    align-self: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 2rem;
}

h6 {
    font-size: 1rem;
    margin: 0.2rem;
}

p, label, li {
    font-family: var(--regular-font);
    font-size: 0.9rem;
}    